.post{
    background-color: white;
    max-width: 550px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
    margin-left: 2vw;
}

.post_image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post_text{
    padding: 20px;
    font-family: 'Baloo 2', cursive;
}
.post_textUsername{
    font-family: 'Heebo', sans-serif;
    margin-right: 5px;
    font-size: 20px;
}

.post_header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post_avatar{
    margin-right: 10px;
}
.post_commentBox{
    display: flex;
    margin-top: 10px;
}

.post_input{
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.poat_button{
    flex:0 ;
    border: none;
    border-top: 1px solid lightgray;
    color: #6082a3;
    background-color: transparent;
}
.post_comments{
  padding: 20px;   
  font-family: 'Baloo 2', cursive;
}
.post_commentsUsername{
    font-family: 'Heebo', sans-serif;
    margin-right: 5px;
    font-size: 15px;
}

.post_header>h3{
    font-family: 'Heebo', sans-serif;
    font-size: 25px;
}